#AudioCard {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 1rem;
    padding-bottom: .7rem;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #424242;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    color: white;
    width: 90%;
}

#AudioCard audio {
    margin-top: .7rem;
    display: inline-block;
    border-radius: 2px;
    width: 100%;
    height: 2rem;
}

#AudioCard img {
    margin-top: .3rem;
    border-radius: 3px;
    width: 80px;
}
#cardContents {
    width: 60%;
    position: absolute;
    margin-left: 1.3rem;
    display: inline-block;
}

#title {
    font-size: 1.4rem;
}

#controller {
    width: 100%;
}

#username {
    display: block;
}

#icons {
    display: flex;
    flex-direction: row;
    display: inline-block;
}

#AudioCardControls {
    margin-top: .1rem;
    margin-right: 2rem;
}

#options {
    font-size: 2.1rem;
    float: right;
}