#EditUpload {
    width: 100%;
}

#cardTitleEdit {
    bottom: 2rem;
}
#formDiv {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#editUploadTitle {
    margin-bottom: 3rem;
}

#confirmEdit {
    float: right;
}