#UploadPage {
    overflow: hidden;
    float: right;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #2e2e2e;
}

#UploadPage p {
    color: white;
}

#UploadPage h4 {
    color: white;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 0;
}

#dragAndDrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 7rem;
    background-color: #292929;
    border: 1px solid #F49E10;
    border-radius: 3px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dragAndDrop p {
    font-size: 1.1rem;
}

#UploadFormContainer {
    width: 60%;
    margin-left: 13%; 
}

.subDivAudio {
    margin-bottom: 1rem;
}

.subDivAudio h5 {
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    border-bottom: 1px solid white;
    color: white;
}

.subDiv {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.subDiv h5 {
    color: white;
}

.subDiv input {
    float: right;
}

#title {
    width: 65%;
    margin-top: 2.6rem;
}

#thumbnailDiv {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    color: white;
    display: inline-block;
}

#thumbnailBox {
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1.6rem;
    border-radius: 3px;
    height: 4.2rem;
    width: 7.5rem;
    border: 1px solid #1DAACA;
}

#thumbnailBox p {
    overflow: hidden;
    font-size: 1.1rem;
}

#SubSubDiv {
    margin: auto;
    width: 72%;
    margin-top: 2.5rem;
}

#detailsH5 {
    margin-top: 1.5rem;
}

#cloud {
    margin-top: 1rem;
    font-size:48px;
    color: white;
}

#thumbnailImage {
    margin-top: .5rem;
    margin-left: 2.8rem;
    position: absolute;
    font-size: 24px;
}

#descriptionBox {
    color: white;
    width: 100%;
    height: 10rem;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 3px;
    resize: none;
}

#category {
    height: 1.5rem;
    width: 7rem;
    display: inline-block;
}

#bottomForm {
    width: 100%;
}

#bottomForm label {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: .4rem;
    display: block;
}

#submitButton {
    color: black;
    float: right;
    margin-right: 0;
}

#audioInput {
    width: 50%;
}

#thumbnailInput {
    margin-left: 1.8rem;
    height: 4rem;
}

#thumbnailText {
    margin-top: 2.3rem;
    margin-left: 1.35rem;
    position: absolute;
}