#UploadPage {
    float: right;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #2e2e2e;
}

#UploadPage p {
    color: white;
}

#UploadPage h5 {
    color: white;
    margin-top: 2rem;
    margin-left: 4rem;
}

#dragAndDrop {
    width: 20%;
    border: 1px solid #F49E10;
}