#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#SignupLogo {
    position: relative;
    width: 15%;
    margin: auto;
    margin-bottom: 6vh;
}

input {
    color: white;
}

header {
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
    color: white;
}

#errormessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    position: relative;
    margin: auto;
    color: #d12413;
}