#UserProfileCard {
    overflow: hidden;
    padding: .75rem;
    padding-left: 1rem;
    padding-top: 0;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 9.5rem;
    width: 95%;
    background-color: #1c1c1c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#UserProfileCard img {
    width: 6.1rem;
    height: 6rem;
    margin-top: .7rem;
}

.profile-pic-and-name {
    overflow: hidden;
}

#edit-profile {
    margin-right: .3rem;
    margin-top: 1.2rem;
    float: right;
}

.profile-username {
    margin-left: 8rem;
    font-size: 2.5rem;
    display: inline-block;
}

.profile-description {
    margin-top: .1rem;
    font-size: 1.15vw;
    display: block;
    margin-left: 8.2rem;
}

.profile-stats {
    margin-top: 1.9rem;
    margin-left: .3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #bab8b8;
    margin-bottom: 1.5rem;
}

.profile-stats-item {
    margin-right: 2rem;
}

.edit-description {
    font-size: 1.15vw;
    border: 1px solid #2babc8;
    border-radius: 3px;
    resize: none;
    color: white;
    width: 80%;
    margin: 0;
    margin-left: 8rem;
    height: 3.5rem;
}

#edit-profile-avatar {
    font-size: 95%;
    margin-top: 7.5rem;
    position: absolute;
}