#ProfilePage {
    background-color: #2e2e2e;
    float: right;
    height: 100vh;
    color: white;
}

#bottom-div {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: scroll;
    height: 70vh;
}