.profile-nav {
    margin-top: 1rem;
    border-radius: 2px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1c1c1c;
    width: 90%;
    height: 2.425rem;
    margin-left: auto;
    margin-right: auto;
}

.profile-nav-item {
    color: white;
    font-size: 1.5rem;
}

#active {
    border-bottom: 3px solid #f29c2b;
    transition: 175ms;
}