#Header {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 4.5rem;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1px;
    background-color: #2e2e2e;
    color: white;
}

#search {
    width: 30%;
}

#header input {
    color: white;
}

input:focus {
    outline: none;
}

.icon {
    font-size: 20px;
}