#LoginPage {
    margin: auto;
    width: 25%;
}

#LoginPageImg {
    width: 70%;
    position: relative;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    margin-left: 3rem;
}

#LoginPage p {
    color: #d12413;
}