#LoginPage {
    margin: auto;
    width: 25%;
}

#LoginPageImg {
    position: relative;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    margin-left: 3rem;
}

#auditoryText {
    float: right;
    margin-top: 8.3rem;
    margin-right: 6rem;
    position: relative;
    color: white;
}