#App {
  background-color: #212121;
  height: 100vh;
}

.expanded-side-bar {
  width: 21%;
}

.contracted-side-bar {
  width: 0%;
}

.expanded-main {
  width: 100%;
}

.contracted-main {
  width: 79%;
}

.switch {
  margin-right: 1rem;
}

.material-icons {
  position: relative;
  top: .5rem;
}

p {
  font-size: 1.5rem;
  margin: 0;
}