#App {
  background-color: #212121;
  height: 100vh;
}

.small-icon {
  margin-top: .5rem;
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
}

.expanded-side-bar {
  width: 24%;
}

.contracted-side-bar {
  width: 0%;
}

.expanded-main {
  width: 100%;
}

.contracted-main {
  width: 76%;
}

.switch {
  margin-right: 1rem;
}

.material-icons {
  position: relative;
  top: .5rem;
}

p {
  font-size: 1.3vw;
  margin: 0;
}