body {
  background-color: #2e2e2e;
}

#App {
  background-color: #212121;
  height: 100vh;
}

.expanded-side-bar {
  width: 17%;
}

.contracted-side-bar {
  width: 0%;
}

.expanded-main {
  width: 100%;
}

.contracted-main {
  width: 83%;
}

.switch {
  margin-right: 1rem;
}

.material-icons {
  position: relative;
  top: .5rem;
}

p {
  margin: 0;
}

.large-profile-pic {
  position: absolute;
  width: 7rem;
  border-radius: 100px;
}

a {
  color: #2babc8;
}