#LoginSideBar {
    margin-top: 2rem;
}

#logout-button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #d12413;
}

.divider {
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 95%;
    height: 1px;
    background-color: #808080;
}

#SideBarContent {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#middle {
    margin-top: .5rem;
}

#bottom {
    margin-bottom: 2rem;
    position: fixed;
    bottom: 0;
}

.sub-nav-item {
    font-size: 1.1rem;
    margin-left: .8rem;
}